#answersContainer {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-gap: 10%;
    width: 90%;
}

#answersContainer div{ 
    padding-left: 0.5em;
    padding-right: 0.5em; 
    font-size: 200%;
    text-align: left;
    background-color: #3a3a3c;
    color: white;
    border-radius: 15px;
}

#answersContainer span{
    float: right;
}