#leftBuzzer, #rightBuzzer {
    width: 15%;
    position: absolute;
    top: 30vh;
    margin-top: 4%;
}

#leftBuzzer img, #rightBuzzer img {
    width: 100%;
}

#rightBuzzer {
    right: -17%;
}

#leftBuzzer {
    left: -17%;
}