#chattingLeft, #chattingRight {
    width: 15%;
    position: absolute;
    top: 30vh;
    margin-top: -14%;
}

#chattingLeft img, #chattingRight img {
    width: 100%;
}

#chattingRight {
    transform: scaleX(-1);
    right: -33%;
}

#chattingLeft{ 
    left: -33%;
}