#leftStats, #rightStats {
    font-size: 1vw;
    position: absolute;
    top: 30vh;
    margin-top: 5%;
}

#rightStats {
    right: -17%;
    text-align: right;
}

#leftStats {
    left: -17%;
    text-align: left;
}