#leftStats {
    position: absolute;
    left: -200px;
    top: calc(30vh + 50px);
    text-align: left;
}

#rightStats {
    position: absolute;
    right: -200px;
    top: calc(30vh + 50px);
    text-align: right;
}