#leftStats, #rightStats {
    font-size: 1vw;
    position: absolute;
    top: 30vh;
    margin-top: 5%;
}

#rightStats {
    right: -17%;
    text-align: right;
}

#leftStats {
    left: -17%;
    text-align: left;
}


#leftStats span, #rightStats span{
    animation: strikesAnimation 2s forwards;
}

@keyframes strikesAnimation {
    from {font-size: 300%;}
    to {font-size: 100%;}
}