@import url("loginpage.css");
@import url("joinphase.css");
@import url("mainmenu.css");
@import url("profiles.css");
@import url("timer.css");
@import url("buzzer.css");
@import url("answers.css");
@import url("playerStats.css");
@import url("chatting.css");

body {
    margin: 0;
    font-family: acumin-pro;
    background-color: #212126;
    padding-top: 2vh;
    padding-bottom: 2vh;
    overflow: hidden;
}

#gameContainer {
    position: relative;
    width: 60%;
    height: 95vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vh;
    background-color: #212126;
    border-left: 1vw dotted #9147ff;
    border-right: 1vw dotted #9147ff;
    /* outline: 10px solid white; */
    color: white;
}

#streamerInput {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
}

#streamerInput:placeholder-shown {
    background-color: white;
}

#chatExample {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5%;
}

#chatExample img{
    width: 100%;
    height: auto;
}

#question {
    height:3em;
    width:97%;
    color: black;
    text-align: center;
    font-size: 2vw;
    margin-left: auto;
    clear:left;
}

#question img {
    float: left;
    width: 15%;
}


#question > div {
    background-color:white;
    margin-left: auto;
    margin-right:auto;
    width:66%;
    height:100%
}

#question > div:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 2vw solid transparent;
    border-right: 2vw solid white;
    border-bottom: 1vw;
    margin: 1vw 0vw 0px -20vw;
    outline: white;
}

#question > div > div {
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    text-align: center;
    widtH: 90%;
}









