
svg {
    overflow: visible;
    width: 114px;
    height: 114px;
}

#timer {
    display: block;
    width: 114px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#timer circle{
    stroke-dasharray: 360;
    stroke-dashoffset: 35;
    stroke: lightgreen;
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

#timer text{
    font-size: 0.7em;
}

#timer text:nth-child(2){
    font-size: 2em;
}