
svg {
    overflow: visible;
    width: 10vw;
    height: 10vw;
}

#timer {
    display: block;
    width: 10vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#timer circle{
    cx: 5vw;
    cy: 5vw;
    r: 4vw;
    stroke-dasharray: 25vw;
    stroke-dashoffset: 5vw;
    stroke: lightgreen;
    fill: none;
    stroke-width: 1vw;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

#timer text{
    font-size: 1vw;
}

#timer text:nth-child(2){
    font-size: 3vw;
}