.joinerName{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4em;
    width: 90%;
    font-size: 1vw;
    clear: left;
    line-height: 1em;
}

.joinerName img{
    height: 1.1em;
    float: left;
}

.joinerName span:nth-child(1){
    padding-left: 0.2em;
    font-weight: 700;
}



#joinersContainer{
    background-color: #18181b;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 17vw;
    padding-top: 0.8em;
    margin-top: 1em;
}