.streamerProfile, .playerProfile {
    color: white;
    position: absolute;
    font-size: 2vw;
    top: 30vh;
    text-align: center;
    width: 15%;
}

.streamerProfile img, .playerProfile img{
    width: 100%;
    outline: 5px solid white;
}

.streamerProfile div:nth-child(1), .playerProfile div:nth-child(1){
    margin-bottom: 4%;
    border-bottom: 2px solid white;
}

.playerProfile {
    right: -33%;
}

.streamerProfile{
    left: -33%;
}

#lastAnswerLeft, #lastAnswerRight {
    position:relative;
    width:200%;
    word-break:break-word;
}

#lastAnswerLeft span, #lastAnswerRight span{
    color: black;
    background-color: white;
    border-radius: 10%;
}

#lastAnswerLeft {
    text-align:left;
}

#lastAnswerRight {
    text-align: right;
    right:100%;
}

