/* STREAMER PROFILE */
.streamerProfile {
    color: white;
    position: absolute;
    left: -420px;
    font-size: 30px;
    top: 30vh;
    text-align: center;
    width: 200px;
}

.streamerProfile img{
    width: 100%;
    outline: 5px solid white;
}

.streamerProfile div:nth-child(1){
    margin-bottom: 10px;
    border-bottom: 2px solid white;
}

/*  width: calc(100vw - 900px); */
/*PLAYER PROFILE */
.playerProfile {
    color: white;
    position: absolute;
    right: -420px;
    font-size: 30px;
    top: 30vh;
    text-align: center;
    width: 200px;
}

.playerProfile img{
    width: 100%;
    outline: 5px solid white;
}

.playerProfile div:nth-child(1){
    margin-bottom: 10px;
    border-bottom: 2px solid white;
}