@import url("loginpage.css");
@import url("joinphase.css");
@import url("mainmenu.css");
@import url("profiles.css");

body {
    min-width: 1100px;
    margin: 0;
    font-family: acumin-pro;
    background-color: #0e0e10;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#gameContainer {
    min-width: 600px;
    width: calc(100vw - 500px);
    max-width: 50%;
    height: 95vh;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vh;
    background-color: #0e0e10;
    border-left: 1vw dotted #9147ff;
    border-right: 1vw dotted #9147ff;
    /* outline: 10px solid white; */
    color: white;
}








