@import url("loginpage.css");
@import url("joinphase.css");
@import url("mainmenu.css");
@import url("profiles.css");
@import url("timer.css");
@import url("buzzer.css");
@import url("answers.css");
@import url("playerStats.css");
@import url("chatting.css");

body {
    margin: 0;
    font-family: acumin-pro;
    background-color: #212126;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#gameContainer {
    position: relative;
    width: 60%;
    height: 95vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vh;
    background-color: #212126;
    border-left: 1vw dotted #9147ff;
    border-right: 1vw dotted #9147ff;
    /* outline: 10px solid white; */
    color: white;
}

#streamerInput {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
}

#streamerInput:placeholder-shown {
    background-color: white;
}

#chatExample {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#chatExample img{
    width: 100%;
    height: auto;
}








